/*@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/*@mixin serif-font {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/
/*@mixin script-font {
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}*/
/*@mixin heading-font {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/
html {
  font-size: 14px;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  position: relative;
  background-color: #fcfcfc; }

p {
  line-height: 1.5; }

/* a {
  color: $white;
  &:hover,
  &:active {
    background-color:$primary;
  }
} */
.text-primary {
  color: #76c38f !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif; }

@media only screen and (min-width: 500px) and (max-width: 991px) {
  html {
    font-size: 14px; } }
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px; } }
.jim-form-content-join-btn {
  -webkit-transiton: .3s ease-in-out;
  -moz-transiton: .3s ease-in-out;
  -o-transiton: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 20px;
  color: #fff;
  background-color: #e92730;
  width: 100%;
  margin-bottom: 30px; }

.jim-nav-col {
  -webkit-box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.09), 4px 0px 6px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.09), 4px 0px 6px 0 rgba(0, 0, 0, 0.07);
  padding-bottom: 28px;
  z-index: 2;
  position: relative;
  min-height: 100vh; }

.jim-nav-col-2 {
  min-height: 100%; }

.menu-left {
  min-height: 100%;
  padding-left: 5px;
  padding-right: 5px; }
  .menu-left .pageLogo {
    margin-top: 22px;
    margin-bottom: 45px; }
  .menu-left .nav-menu-main a {
    padding: 5px;
    text-align: center;
    background: #e92730;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05); }
  .menu-left .nav-menu-main a.active {
    background: #000;
    color: #e92730; }

.menu-left.page-two {
  position: relative; }
  .menu-left.page-two .nav-menu-main a {
    background-color: transparent;
    text-align: left;
    color: #020202;
    border-bottom: 0;
    margin-bottom: 0px !important;
    font-size: 13px;
    padding: 5px 0; }
    .menu-left.page-two .nav-menu-main a i {
      padding-right: 12px; }
  .menu-left.page-two .nav-menu-main a.active {
    color: #e92730; }

.jim-right-col-tabs-inner {
  z-index: -1; }

.jim-right-col-tabs {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }
  .jim-right-col-tabs .tab-pane:first-child img {
    width: 100%;
    height: 100vh; }
  .jim-right-col-tabs .signInContent {
    padding-left: 30px;
    padding-right: 0px; }
    .jim-right-col-tabs .signInContent h3 {
      color: #d91e25;
      font-weight: bold; }
    .jim-right-col-tabs .signInContent form p > a {
      color: #e92730; }
    .jim-right-col-tabs .signInContent form input {
      border-radius: 20px;
      margin-bottom: 12px;
      color: #020202;
      border-color: #020202;
      -webkit-transiton: .3s ease-in-out;
      -moz-transiton: .3s ease-in-out;
      -o-transiton: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      background-color: #fcfcfc; }
    .jim-right-col-tabs .signInContent form input::-webkit-placeholder {
      color: #020202; }
    .jim-right-col-tabs .signInContent form input::-moz-placeholder {
      color: #020202; }
    .jim-right-col-tabs .signInContent form input:hover,
    .jim-right-col-tabs .signInContent form input:focus {
      color: #e92730;
      border-color: #e92730;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .jim-right-col-tabs .signInContent form input:focus::-webkit-input-placeholder {
      color: #e92730; }
    .jim-right-col-tabs .signInContent form input:hover::-webkit-input-placeholder {
      color: #e92730; }
    .jim-right-col-tabs .signInContent form input:focus::-moz-placeholder {
      color: #e92730; }
    .jim-right-col-tabs .signInContent form input:hover::-moz-placeholder {
      color: #e92730; }
  .jim-right-col-tabs .jim-col-7-right-signin-img {
    padding-left: 0;
    padding-right: 0; }
    .jim-right-col-tabs .jim-col-7-right-signin-img img {
      width: 100%;
      height: 100vh; }

.social-icon {
  padding-top: 10px; }
  .social-icon a {
    color: #020202;
    border: 1px solid #020202;
    border-radius: 50%;
    line-height: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    text-align: center;
    line-height: 30px; }
  .social-icon a.active {
    color: #ea2435;
    background-color: #020202; }

.page-two-heading {
  position: relative; }

.page-two-right h3 {
  color: #f92136;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px; }
.page-two-right .hr {
  width: 74px;
  border-style: solid;
  border-color: #e8222f;
  height: 0px;
  border-top-width: 4px;
  position: absolute;
  bottom: -24px; }

.jim-form-content-join-btn {
  background: #ea2632;
  margin-top: 30px; }

.page-two-right {
  padding-left: 25px;
  padding-right: 15px; }

.singleSquat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  background: #fff;
  font-size: 12px;
  padding: 3px;
  width: 142px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin-bottom: 10px; }
  .singleSquat.active > p {
    color: #d91b35; }
  .singleSquat img {
    width: 27px !important;
    height: 50px !important;
    display: inline-block; }
  .singleSquat p {
    margin: 0;
    line-height: 1.2 !important;
    padding-top: 12px;
    width: 66px; }

/* Media queries */
@media only screen and (max-width: 767px) {
  .jim-right-col-tabs .signInContent {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 15px;
    display: block;
    min-height: 100% !important; }

  .jim-right-col-tabs .jim-col-7-right-signin-img img {
    width: 100%;
    height: 100%;
    padding-top: 25px; } }
@media only screen and (max-width: 575px) {
  .jim-right-col-tabs .signInContent {
    padding-left: 15px;
    padding-right: 15px; }
  .jim-right-col-tabs .singleSquat {
    width: 100px; }
    .jim-right-col-tabs .singleSquat p {
      font-size: 11px; }

  .nav-footer {
    position: relative !important;
    padding-top: 30px; } }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .page-two-heading {
    margin-top: 35px; }

  .main-page-two-content {
    padding-right: 20px; }

  .singleSquat {
    width: 120px; } }
@media only screen and (min-width: 599px) {
  p {
    line-height: 1.5 !important; }

  .menu-left {
    min-height: 100%;
    padding-left: 5px;
    padding-right: 5px; }
    .menu-left .nav-menu-main a {
      font-size: 15px; }

  .jim-right-col-tabs .signInContent form input {
    font-size: 14px; } }
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
